/* General */
.post-header {
  .post-meta {
    color: $posts-byline-color;
    font-size: 12px;
    font-weight: 400;

    a {
      color: $posts-byline-color;
    }

    .post-author,
		.post-date {
    	margin: 0 10px 0 0;
		}
	}
}

/* On show page */
.item-view {
	.post-title {
		margin-bottom: 10px;
	}

	.post-header .post-meta {
		padding: 0 1px 6px;
	  border-bottom: 1px solid #eaeaea;
	}
}

/* On landing page */
/* Featured */
.post-wrapper.hero {
  .post-header {
    padding-top: 8px;
  }
}

.feed-view {
  .post-header .post-meta {
    font-size: 13px;
	}
}
