@import 'variables';

@import 'prism';
@import 'stackedit';
@import 'top_bar';
@import 'social_icon';

@import 'posts';

/* responsive Youtube videos */
.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

iframe {
  border: none;
}

.centered-top-container img, .centered-top-placeholder img {
  max-width:50%
}

@media (max-width:768px){
  .centered-top-container img, .centered-top-placeholder img {
    margin-top:15px;
  }
}

@media (max-width:425px){
  .centered-top-container img, .centered-top-placeholder img {
    max-width:65%
  }
}

@media (max-width:425px){
  .centered-top-container img, .centered-top-placeholder img {
    max-width:90%
  }
}
